@media (max-width: 1200px) {
    .header__nav {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .hero {
        grid-template-rows: auto;
    }

    .hero .product:nth-of-type(2) {
        grid-column: span 2;
        grid-row: span 1;
        order: -1;
    }

    .footer__cols {
        grid-template-columns: auto;
        row-gap: 50px;
    }
}

@media (max-width: 992px) {
    .hero .product--md {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .hero {
        grid-template-rows: auto;
    }

    .header .header__links:nth-of-type(1) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .hero .product {
        grid-column: span 2;
        flex-direction: column;
        row-gap: 20px;
        padding: 79px 0 39px 0;
    }

    .hero .product .product__info {
        align-items: center;
        row-gap: 20px;
    }

    .hero .product .product__description,
    .hero .product .product__name,
    .hero .product .product__price {
        font-size: 20px;
    }

    .hero .product__description,
    .hero .product__name {
        line-height: normal;
    }

    .hero .product__price {
        line-height: 23px;
    }

    .hero .product img {
        width: 100%;
    }

    .articles__items {
        display: grid;
        grid-template-columns: auto;
    }

    .article {
        padding: 100px 20px 20px 20px;
    }
}
